<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giriş Yap</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>



<form th:action="@{/login}" method="post">
    <h2>🔐 Kullanıcı Girişi</h2>
    <label>Kullanıcı Adı:</label><br>
    <input type="text" name="username" required><br><br>

    <label>Şifre:</label><br>
    <input type="password" name="password" required><br><br>
    
    <div th:if="${error}" class="error-message">
    [[${error}]]
</div>
    

    <!-- Butonlar -->
    <div class="action-row">
        <button type="submit">Giriş Yap</button>

        <!-- Tooltip için wrapper -->
        <span class="tooltip-wrapper">
            <button type="button"
                    class="register-btn"
                    disabled>
                  
                Kayıt Ol
            </button>

            <span class="tooltip-text">Bu özellik gelecek sürümlerde eklenecektir</span>
        </span>
    </div>

</form>



</body>
</html>
